.movies__list {
    max-width: 89%;
    margin: 74px auto 28px;
    display: grid;
    grid-template-rows: 232px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    grid-auto-flow: row;
    list-style: none;
    padding: 0;
}

.movies__list_saved {
    margin-top: 35px;
    border-top: 1px solid #424242;
    padding-top: 80px;
}

.movies__btn-container {
    margin: 0 auto 0;
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movies__more-btn {
    width: 320px;
    height: 36px;
    background-color: transparent;
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid #424242;
    border-radius: 6px;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 98px;
}

.movies__btn-container_hidden {
        display: none;
}



@media screen and (max-width: 320px) {
	.movies__btn-container {
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
	.movies__more-btn {
        margin-top: 0px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 365px) {
	.movies__more-btn {
        width: 240px;
        height: 36px;
        margin-top: 23px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1250px) {
        .movies__list {
		grid-template-columns: repeat(2, 1fr);
        max-width: 70%;
	}
}

@media screen and (max-width: 1094px) {
    .movies__list {
    min-width: 70%;
}
}

@media screen and (max-width: 1000px) {
    .movies__list {
    min-width: 89%;
}
}

@media screen and (max-width: 768px) {
    .movies__list {
        max-width: 710px;
        margin-top: 35px;
        min-height: fit-content;
        overflow: hidden;
        border-top: 1px solid #424242;
        padding-top: 80px;
	}
}

@media screen and (max-width: 767px) {
    .movies__list {
        max-width: 90%;
                /* max-height: 1070px; */
	}
}

@media screen and (max-width: 763px) {
	.movies__list {
		grid-template-columns: 300px;
        /* max-height: 1250px; */
        overflow: hidden;
        max-width: 300px;
        gap: 40px;
        margin: 87px auto 10px;
        justify-content: center;
	}
}

@media screen and (max-width: 651px) {
	.movies__list {
                gap: 21px;
                /* max-height: 1180px; */
	}
}

@media screen and (max-width: 320px) {
	.movies__list {
                /* max-height: 1180px; */
                margin-top: 35px;
                padding-top: 50px;
	}
}

@media screen and (max-width: 768px) {
	.movies__list_saved {
                margin-top: 35px;
	}
}

@media screen and (max-width: 320px) {
	.movies__list_saved {
                /* max-height: 450px; */
                overflow: hidden;
                margin-top: 35px;
                padding-top: 50px;
	}
}


