.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 100%;
}

.card__pic-container {
    display: flex;
    position: relative;
}

.card__pic {
    min-width: 100%;
    min-height: 100%;
    border-radius: 7px;
}

.card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 100%;
    min-height: 49px;
    margin: 0 14px 0;
}

.card__name {
    display: flex;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: white;
    margin: 0;
    min-width: 250px;
    min-height: 32px;
    align-items: center;
}

.card__info-container {
    background-color: #2F2F2F;
    border-radius: 3px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__duration {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 10px;
    color: #8B8B8B;
    margin: 0;
    min-width: 52px;
    text-align: center;
}

.card__save-btn {
    display: none;
    width: 72px;
    height: 21px;
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 9px;
    background-color: #313131;
    border: none;
    position: absolute;
    top: 14px;
    right: 14px;
    border-radius: 30px;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card__save-btn {
    display: block;
}

.card__saved-btn {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #EE3465;
    border: none;
    position: absolute;
    top: 14px;
    right: 14px;
}

.card__icon-saved {
    background-image: url('../../images/icon__pic_saved.svg');
    width: 7px;
    height: 7px;
}

.card__delete-btn {
    display: none;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #313131;
    border: none;
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0 5px 0 7px;
}

.card:hover .card__delete-btn{
    display: block;
}

.card__icon-delete{
    background-image: url('../../images/icon__close.svg');
    width: 7px;
    height: 7px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


@media screen and (max-width: 850px) {
    .card__pic-container  {
        max-width: 339px;
    }
}

@media screen and (max-width: 850px) {
    .card__container {
        margin: 16px auto 0;
        gap: 8px;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .card__container {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .card__pic-container  {
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .card__pic-container  {
        max-width: 270px;
    }
}

@media screen and (max-width: 651px) {
    .card__pic-container  {
        max-width: 339px;
    }
}


@media screen and (max-width: 850px) {
    .card {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .card__container {
        align-items: end;
        gap: 0px;
    }
}

@media screen and (max-width: 705px) {
    .card__container  {
        max-width: 270px;
        margin-left: 0;
    }
}

@media screen and (max-width: 651px) {
    .card__container {
        max-width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .card__name {
        font-size: 12px;
        min-width: 240px;
    }
}

@media screen and (max-width: 768px) {
    .card__name {
        font-size: 13px;
        min-width: 250px;
    }
}


@media screen and (max-width: 767px) {
    .card__name  {
        font-size: 10px;
        min-width: 50%;
    }
}

@media screen and (max-width: 320px) {
    .card__name  {
        font-size: 12px;
        min-width: 240px;
    }
}

@media screen and (max-width: 768px) {
    .card__info-container {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 320px) {
    .card__info-container {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 651px) {
    .card__container {
        font-size: 12px;
        min-width: 240px;
        align-items: center;
    }
}