.movies-page__btn-container {
    margin: 0 auto 0;
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movies-page__more-btn {
   width: 320px;
    height: 36px;
    background-color: transparent;
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border: 1px solid #424242;
    border-radius: 6px;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 98px;
}

@media screen and (max-width: 320px) {
	.movies-page__btn-container {
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
	.movies-page__more-btn {
        margin-top: 0px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 365px) {
	.movies-page__more-btn {
        width: 240px;
        height: 36px;
        margin-top: 23px;
        margin-bottom: 100px;
    }
}