.portfolio {
    min-width: 100%;
    margin: 0 auto 125px;
}

.portfolio__title {
    font-size: 18px;
    color: #8B8B8B;
    line-height: 20px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    margin: 0 0 50px;
}

.portfolio__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    line-height: 50px;
    border-bottom: 1px solid #424242;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    padding: 0 0 19px;
}

@media screen and (max-width: 768px) {
    .portfolio__list-item {
        font-size: 28px;
        padding: 0 0 19px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio {
        margin: 0 auto 90px;
    }
}

@media screen and (max-width: 622px) {
    .portfolio__title {
        font-size: 14px;
        margin: 0 0 20px;
    }
}

@media screen and (max-width: 622px) {
    .portfolio__list-item {
        font-size: 18px;
        line-height: 28px;
        padding: 20px 0 19px;
    }
}

@media screen and (max-width: 622px) {
    .portfolio__icon {
        width: 10px;
        height: 10px;
        padding: 6px 4px;
    }
}

@media screen and (max-width: 622px) {
    .portfolio {
        margin: 0 auto 70px;
    }
}