.form{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    max-width: 90%;
    margin: 80px auto 29px;
}

.form__search-input {
    min-width: 95%;
    background-color: #2F2F2F;
    border: none;
    border-radius: 8px;
    height: 50px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
}

.form__search-input::placeholder {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-left: 20px;
}

.form__submit-btn {
    height: 44px;
    width: 44px;
    background-image: url('../../images/submit_btn.jpg');
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 40px;
    padding: 0;
}

@media screen and (max-width: 1180px) {
    .form {
        min-width: 90%;
        justify-content: center;
        align-items: center;
        margin-bottom: 29px;
    }
}

@media screen and (max-width: 1180px) {
    .form__search-input  {
        min-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .form__search-input  {
        min-width: 654px;
    }
}

@media screen and (max-width: 767px) {
    .form__search-input  {
        min-width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .form__search-input  {
        min-width: 238px;
    }
}

@media screen and (max-width: 768px) {
    .form {
        min-width: 706px;
    }
}

@media screen and (max-width: 767px) {
    .form {
        min-width: 90%;
    }
}


@media screen and (max-width: 400px) {
    .form {
        min-width: 292px;
        margin-bottom: 47px;
    }
}



