.saved-movies__divider {
    min-height: 213px;
}

.saved-movies {
    min-height: 470px;
}


@media screen and (max-width: 768px) {
    .saved-movies__divider {
        min-height: 161px;
    } 
}

@media screen and (max-width: 320px) {
    .saved-movies__divider {
        min-height: 150px;
    } 
}