.footer {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 62px auto 0;
    padding: 0 0 20px;
}

.footer__text {
    color: #8B8B8B;
    font-size: 13px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
    text-align: center;
    min-width: 100%;
    margin: 0;
}

.footer__container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.footer__year {
    color: white;
    font-size: 13px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    margin: 0;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.footer__link {
    color: white;
    font-size: 13px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

@media screen and (max-width: 1278px) {
    .footer {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 710px;
        margin-top: 59px;
    }
}

@media screen and (max-width: 766px) {
    .footer {
        max-width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 298px;
        padding-bottom: 23px;
    }
}

@media screen and (max-width: 768px) {
    .footer__container {
        gap: 481px;
    }
}

@media screen and (max-width: 766px) {
    .footer__container {
        gap: 50px;
    }
}

@media screen and (max-width: 320px) {
    .footer__container {
        flex-direction: column-reverse;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        gap: 31px;
    }
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        gap: 14px;
    }
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .footer__year {
        color: #8B8B8B;
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .footer__text {
        font-size: 12px;
        padding-bottom: 22px;
    }
}