.navtab {
    min-width: 100%;
    background-color: #303030;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navtab-btn {
    color: white;
    font-size: 12px;
    border-color: transparent;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    border: none;
    text-decoration: none;
    line-height: 16px;
}

@media screen and (max-width: 379px) {
    .navtab-btn {
        font-size: 10px;
        border-radius: 6px;
	}
}

@media screen and (max-width: 379px) {
    .navtab {
        border-radius: 6px;
	}
}