.navtab-btn {
    width: 96px;
    height: 36px;
    border-radius: 10px;
    background-color: #303030;
    color: white;
    font-size: 12px;
    border-color: transparent;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 379px) {
    .navtab-btn {
        width: 82px;
        height: 26px;
        font-size: 10px;
        line-height: 16px;
	}
}